<div class="title">
  <div class="display">
    <app-time-display></app-time-display>
    <app-buttons></app-buttons>
  </div>
  <app-buttons (newItemEvent)="addItem($event)"></app-buttons>
  <ul>
    <li *ngFor="let item of items">{{ items }}</li>
  </ul>
</div>

<!-- 1. 부모 컴포넌트 메서드와 자식 컴포넌트의 이벤트는 부모 컴포넌트 템플릿에서
바인딩합니다

2. 부모 컴포넌트 템플릿 파일에 자식 컴포넌트 셀렉터를 추가한다.

이벤트 바인딩 (newItemEvent)="addItem($event)"에 사용된 문법을 보면, 자식 컴포넌트에서 newItemEvent 이벤트가 발생하면 부모 컴포넌트 메서드 addItem()을 실행합니다

$event 객체는 자식 컴포넌트에서 보낸 데이터가 담겨있습니다. 이 예제에서는 자식 컴포넌트 템플릿의 input에 사용자가 입력한 값이 전달됩니다<div class="
@Output() 데코레이터가  동작하는 것을 확인하기 위해 부모 컴포넌트에 이런 코드를 추가 합니다."></div> -->
